<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<form action="/" method="get">
			日付
			<input name="startDate" th:value="${startDate}" type="date" />
			～
			<input name="endDate" th:value="${endDate}" type="date" />
			<input type="submit" value="絞り込み">
	</form>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th></th>
			<th></th>
			<th></th>
			<th>日時</th>
		</tr>
		<th:block th:each="content : ${contents}">
			<tr>
				<td th:text="${content.id}">
				<td th:text="${content.content}">
				<td>
					<a th:href="@{/edit/{id}(id=${content.id})}">
						<button type="button">編集</button>
					</a>
				</td>
				<td>
					<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
						<input type="submit" value="削除">
					</form>
				</td>
				<td>
					<a th:href="@{/newText/{id}(id=${content.id})}">
						<button type="button">コメントする</button>
					</a>
				</td>
				<td  th:text="${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}">
			</tr>
			<th:block th:each="text : ${texts}">
				<th:block th:if="${content.id == text.reportId }">
					<tr>
						<td></td>
						<td th:text="${text.text}">
						<td>
							<a th:href="@{/editText/{id}(id=${text.id})}">
								<button type="button">編集</button>
							</a>
						</td>
						<td>
							<form th:action="@{/deleteText/{id}(id=${text.id})}" th:method="delete">
								<input type="submit" value="削除">
							</form>
						</td>
						<td></td>
						<td th:text="${#dates.format(text.updatedDate, 'yyyy/MM/dd HH:mm:ss')}">
					</tr>
				</th:block>
			</th:block>
		</th:block>
	</table>
</body>
</html>